@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* General Styling */
html,
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
a:hover {
  color: blue;
}
.charContents {
  display: inline;
}
body {
  width: 95%;
  margin: 50px auto;
}
.charContents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  justify-content: space-between;
  align-items: center;
}
.charContents svg:nth-child(2) {
  display: none;
}
/* Bar Chart Styles */
.bar {
  fill: blue;
}

.color_changeBar {
  fill: orange;
}

/* Pie Chart Styles */
.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: rgb(255, 255, 255);
}

.title {
  fill: black;
  font-weight: bold;
}
/* Chart Styles  */
#chart path {
  stroke: rgb(236, 71, 21);
  stroke-width: 2;
  fill: none;
}
#mapChart #map {
  transform: rotateX(180deg);
  transform-origin: center center;
}

/* Map Chart Styles */
svg .street {
  stroke: black;
  stroke-width: 1px;
  fill: none;
}

svg .pump {
  fill: brown;
}

svg .death {
  stroke: none;
  r: 3;
}

svg .graphline {
  fill: none;
  stroke-width: 3px;
}

svg .deathhoverbar:hover {
  fill-opacity: 0.4;
}

svg .graphbutton {
  rx: 3;
  ry: 3;
}

svg .graphbuttonlabel {
  font-family: "Serif";
  font-size: 15px;
}

.axis path,
.axis line {
  fill: none;
  stroke: gray;
}

.axis text {
  font-family: "Serif";
  font-size: 10px;
  fill: black;
}
